<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.shelterforpets">

    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- The API key for Google Maps-based APIs. -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyDzBzFd_gTCBUFk__e4Q4i5pB9pVJp-vwQ"/> -->

        <activity android:name=".Authentication.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.ForgotPasswordActivity" />
        <activity android:name=".Authentication.SignUpActivity" />
        <activity
            android:name=".User.UserMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".Admin.AddShelters" />
        <activity android:name=".Admin.AddAdmins" />
        <activity android:name=".Admin.AddVets" />
        <activity android:name=".Admin.AddEvents" />
        <activity android:name=".Admin.SelectShelterLocation" />
        <activity android:name=".Shelter.ShelterMainActivity" />
        <activity android:name=".Shelter.ReceivedRequests"></activity>
    </application>

</manifest>